 
/* Css For Appway */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header/style-one/style-two/style-three/style-four
5. Main Slider/style-1 _ _ _ _ style-19
6. Featur Section
7. Video Section
9. Pricing Section
8. Testimonial Section
10. Download Section
11. News Section
12. Subscribe Section
14. Main Footer
15. Clients Section
16. Inside Sofeware
19. Innovative Idea
20. Download Apps
21. Application Setup
22. Optimizatin Application
23. Subascrive Section
24. Device Friendly
25. Enterprise Section
26. Dashboard Feature
27. Support Section
28. Trusted Section
29. Work Section
30. Case Studies
31. Fact Counter
32. Check Website
33. Free Estimate
34. Rider Section
35. Whereyou Section
36. Ridesharing Section
37. Ourmission Section
38. Popular Causes
39. Social Fundraising
40. Campaing Section
41. Donate
42. Event Section
43. Make Difference
44. Service Section
45. Management Section
46. Recruitment Section
47. Project Inquiry
48. Industries Service
49. Video Section
50. Solve Problem
51. Marketing Benefits
52. Check Works
53. Testimonial Page
54. Streamline Section
55. Designe Process
56. Solution Section
57. Crypto Service
58. Transactions Work
59. Timeline Work
60. Take Control
61. Team Section
62. Domain Section
63. Best Hosting
64. Increase Website
65. Domain Price
66. Managed Wordpress
67. Blog Details
68. Contact Section
69. Google Map


**********************************************/



/*** 

====================================================================
  Reset
====================================================================

 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}


/*** 

====================================================================
  Global Settings
====================================================================

 ***/


body {
  font-size:15px;
  color:#777777;
  line-height:30px;
  font-weight:400;
  background:#ffffff;
  font-family: 'Ubuntu', sans-serif;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
}

  @media (min-width:1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 15px;
  }
}

.large-container{
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid{
  padding: 0px;
}

.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
}

.small-container{
  max-width:680px;
  margin:0 auto;
}

.boxed_wrapper{
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}


a{
  text-decoration:none;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

a:hover{
  text-decoration:none;
  outline:none;
}

input,button,select,textarea{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}

input{
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus{
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p{
  position: relative;
  color: #777777;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0px;
  font-style: normal;
  transition: all 500ms ease;
}

h1,h2,h3,h4,h5,h6 {
  position:relative;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}


.centred{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}


figure{
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
  transition-property: all;
}


@keyframes pulse {
    50% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1),
        0 0 0 60px rgba(255, 255, 255, 0.1);
    }
}

@keyframes pulse-2 {
    50% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2),
        0 0 0 40px rgba(0, 0, 0, 0.1);
    }
}

/** button **/

.theme-btn{
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 15px;
  height: 50px;
  padding: 12px 80px 12px 40px;
  background: transparent;
  line-height: 26px;
  color: #4527a4;
  border: 1px solid #4527a4;
  font-weight: 500;
  border-radius: 30px;
  text-transform: capitalize;
  transition: all 500ms ease;
  cursor: pointer;
  z-index: 1;
}

.theme-btn:hover{
  color: #fff;
}

.theme-btn:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #4527a4;
  border-radius: 30px;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.theme-btn:hover:before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.theme-btn i{
  position: absolute;
  top: -1px;
  right: -1px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #4527a4;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  transition: all 900ms ease;
}

.theme-btn:hover i{
  background: transparent;
}

.theme-btn-two{
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #4527a4;
  border-radius: 30px;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 500ms ease;
}

.theme-btn-two:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  z-index: -1;
}

.theme-btn-two:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.theme-btn-two:hover{
  color: #4527a4;
  background: #fff;
  box-shadow: 0 0 15px rgba(69, 39, 164, 0.5);
}


.pagination{
  position: relative;
  display: block;
}

.pagination li{
  display: inline-block;
  margin: 0px 6px;
}

.pagination li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  width: 40px;
  line-height: 38px;
  font-weight: 500;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  text-align: center;
  color: #777;
  background: transparent;
  transition: all 500ms ease;
}

.pagination li a:hover,
.pagination li a.active{
  color: #fff;
  border-color: #4527a4;
  background: #4527a4;
}

.pagination li:last-child a,
.pagination li:first-child a{
  background: #222222;
  border-color: #222222;
  color: #fff;
}

.sec-pad{
  padding: 154px 0px 120px 0px;
}

.sec-pad-two{
  padding: 100px 0px !important;
}

.sec-pad-three{
  padding: 200px 0px !important;
}

.sec-pad-four{
  padding: 100px 0px 70px 0px !important;
}

.preloader{
  position: fixed; 
  left:0px;
  top:0px;
  height:100%;
  width: 100%;
  z-index:999999;
  background-color:#4527a4;
  background-position:center center;
  background-repeat:no-repeat;
  background-image:url(../images/icons/preloader.gif);
}

.scroll-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 105%;
  right: 50px;
  font-size: 16px;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #222;
  transition: 1s ease;
}

.scroll-top:hover{
  background: #4527a4;
  -webkit-box-shadow: 2px 2px 0px #222;
  -ms-box-shadow: 2px 2px 0px #222;
  box-shadow: 2px 2px 0px #222;
}

.scroll-top.open {
  bottom: 30px;
}

.scroll-top span{
  color: #fff;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.sec-title{
  position: relative;
  display: block;
}

.sec-title.center{
  text-align: center;
}

.sec-title h2{
  position: relative;
  display: block;
  font-size: 36px;
  line-height: 48px;
  color: #222222;
  font-weight: 500;
  padding-bottom: 31px;
  margin-bottom: 31px;
}

.sec-title h2:before{
  position: absolute;
  content: '';
  background: #cccccc;
  width: 130px;
  height: 2px;
  left: 0px;
  bottom: 0px;
}

.sec-title.center h2:before,
.sec-title.center h2:after{
  left: 50%;
  transform: translateX(-50%);
}

.sec-title h2:after{
  position: absolute;
  content: '';
  background: #777777;
  width: 45px;
  height: 4px;
  left: 0px;
  bottom: 0px;
  transition: all 500ms ease;
  -webkit-mask-image: linear-gradient(-75deg, rgba(244,55,55,0.6) 50%, #f43737 50%, rgba(0,0,0,1) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.sec-title p{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: #777;
  margin: 0px;
}

.sec-title.center h2,
.sec-title.center p{
  text-align: center;
}

.margin_left_30{
  margin-left: 30px !important;
}

.margin_right_30{
  margin-right: 30px !important;
}

.margin_bottom_30{
  margin-bottom: 30px !important;
}

.margin_left_100{
  margin-left: 100px !important;
}


/*** 

====================================================================
                        Home-Page-One
====================================================================

***/


/** main-header **/

.main-header{
  position:relative;
  left:0px;
  top:0px;
  z-index:999;
  width:100%;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.sticky-header{
  position:fixed;
  opacity:0;
  visibility:hidden;
  background: #4527a4;
  left:0px;
  top:0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width:100%;
  z-index:0;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.fixed-header .sticky-header{
  z-index:999;
  opacity:1;
  visibility:visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.main-header .outer-container{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.main-header .outer-container .logo-box .logo{
  position: relative;
  padding: 64px 0px 30px 0px;
}



/** main-menu **/

.main-menu{
  position:relative;
  float:left;
}

.main-menu .navbar-collapse{
  padding:0px;
  display:block !important;
}

.main-menu .navigation{
  position:relative;
  margin:0px;
}

.main-menu .navigation > li{
  position:relative;
  float:left;
  z-index:2;
  padding:70px 0px 25px 0px;
  margin: 0px 25px;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
  margin-right:0px !important;
}

.main-menu .navigation > li:first-child{
  margin-left: 0px !important;
}

.main-menu .navigation > li > a{
  position:relative;
  display:block;
  text-align:center;
  font-size:16px;
  line-height:30px;
  font-weight:500;
  opacity:1;
  color:#fff;
  padding: 0px;
  z-index:1;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.main-menu .navigation > li > ul{
  position:absolute;
  left:0px;
  top:100%;
  width:280px;
  z-index:100;
  display:none;
  opacity: 0;
  visibility: hidden;
  padding: 20px 0px;
  background-color: #ffffff;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.main-menu .navigation > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
  padding: 0px 30px;
}

.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  padding:6px 0px;
  line-height:24px;
  font-weight:400;
  font-size:14px;
  text-transform:capitalize;
  color:#222;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > a:hover{
  color:#4527a4;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position:absolute;
  right:20px;
  top:12px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:800;
  text-align:center;
  z-index:5;  
}

.main-menu .navigation > li > ul > li > ul{
  position:absolute;
  left:100%;
  top:-2px;
  width:230px;
  z-index:100;
  display:none;
  padding: 20px 0px;
  background-color: #ffffff;
  -moz-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li > ul > li{
  position:relative;
  width:100%;
  padding: 0px 30px;
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li > a{
  position:relative;
  display:block;
  padding:6px 0px;
  line-height:24px;
  font-weight:400;
  font-size:14px;
  text-transform:capitalize;
  color:#222;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
  color:#4527a4;
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position:absolute;
  right:20px;
  top:12px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:900;
  z-index:5;  
}

.main-menu .navigation > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease; 
}

.main-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:10px;
  top:8px;
  width:34px;
  height:30px;
  border:1px solid #ffffff;
  text-align:center;
  font-size:16px;
  line-height:26px;
  color:#ffffff;
  cursor:pointer;
  z-index:5;
  display:none;
}

.menu-area .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color: #3786ff;
  display: none;
}

.menu-area .mobile-nav-toggler .icon-bar{
  position: relative;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  background-color: #4527a4;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header.home-16 .menu-area .mobile-nav-toggler .icon-bar,
.main-header.home-1 .menu-area .mobile-nav-toggler .icon-bar,
.main-header.home-3 .menu-area .mobile-nav-toggler .icon-bar,
.main-header.home-7 .menu-area .mobile-nav-toggler .icon-bar,
.main-header.home-8 .menu-area .mobile-nav-toggler .icon-bar,
.main-header.home-9 .menu-area .mobile-nav-toggler .icon-bar,
.main-header.home-11 .menu-area .mobile-nav-toggler .icon-bar{
  background: #fff;
}

.menu-area .mobile-nav-toggler .icon-bar:last-child{
  margin-bottom: 0px;
}


.main-menu .navigation .megamenu{
  width: 500px;
}

.main-menu .navigation .megamenu:before{
  position: absolute;
  content: '';
  background: #e5e5e5;
  width: 2px;
  height: calc(100% - 60px);
  left: 42%;
  top: 30px;
}

.main-menu .navigation>li> .megamenu li {
  position: relative;
  display: block;
  width: 50%;
  float: left;
}


/** mobile-menu **/

.nav-outer .mobile-nav-toggler{
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color:#3786ff;
  display: none;
}

.mobile-menu{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right:30px;
  max-width:100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.mobile-menu .navbar-collapse{
  display:block !important; 
}

.mobile-menu .nav-logo{
  position:relative;
  padding:30px 25px;
  text-align:left;  
}

.mobile-menu-visible{
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background:#000;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
  opacity: 0.70;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .menu-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #000;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box{
  opacity: 1;
  visibility: visible;
  -webkit-transition:all 0.7s ease;
  -moz-transition:all 0.7s ease;
  -ms-transition:all 0.7s ease;
  -o-transition:all 0.7s ease;
  transition:all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn{
  position: absolute;
  right: 25px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition:all 0.9s ease;
  -moz-transition:all 0.9s ease;
  -ms-transition:all 0.9s ease;
  -o-transition:all 0.9s ease;
  transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
  color:#4527a4;
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.mobile-menu .navigation{
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation li{
  position: relative;
  display: block;
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li ul li > a{
  font-size: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li > a:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:0;
  border-left:5px solid #4527a4;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li.current > a,
.mobile-menu .navigation li > a:hover{
  color:#4527a4;  
}

.mobile-menu .navigation li.current > a:before{
  height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:6px;
  top:6px;
  width:32px;
  height:32px;
  text-align:center;
  font-size:16px;
  line-height:32px;
  color:#ffffff;
  background:rgba(255,255,255,0.10);
  cursor:pointer;
  border-radius:2px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
  z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
  background:#4527a4; 
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);  
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul{
  display: none;
}

.mobile-menu .social-links{
  position:relative;
  padding:30px 25px;
}

.mobile-menu .social-links li{
  position:relative;
  display:inline-block;
  margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
  position:relative;
  line-height:32px;
  font-size:16px;
  color:#ffffff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .social-links li a:hover{
  color:#00aeef;  
}

div#mCSB_1_container{
  top: 0px !important;
}

.mobile-menu .contact-info {
  position: relative;
  padding: 80px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.80);
  margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a{
  color: rgba(255,255,255,0.80);
}

.mobile-menu .contact-info ul li a:hover{
  text-decoration: underline;
}

.mobile-menu .contact-info ul li:last-child{
  margin-bottom: 0px;
}

/** stricky-header **/

.sticky-header .main-menu .navigation > li{
  margin: 0px;
}

.sticky-header .main-menu .navigation > li > a{
  padding: 15px 30px !important;
}

.sticky-header .main-menu .navigation > li > a{
  color: #fff !important;
}

.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a{
  background: #fff;
  color: #4527a4 !important;
}

.sticky-header .logo-box{
  position: relative;
  float: left;
  padding: 8px 0px 7px 0px;
}

.sticky-header .menu-area{
  position: relative;
  float: right;
}

.sticky-header .main-menu .navigation > li > a:before{
  display: none;
}

.sticky-header .main-menu .navigation > li{
  padding: 0px !important;
  margin: 0px !important;
}

.sticky-header .main-menu .navigation > li:before{
  display: none;
}



/** banner-section **/

.banner-section{
  position: relative;
  background-color: #fff;
  padding: 330px 0px 285px 0px;
}

.banner-section .bg-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  animation-name: slideInDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-name: slideInDown;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: slideInDown;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -ms-animation-name: slideInDown;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;
}

.banner-section .pattern-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

.banner-section .content-box{
  position: relative;
  display: block;
  margin-left: 75px;
  z-index: 1;
}

.banner-section .content-box h1{
  position: relative;
  display: block;
  font-size: 48px;
  font-weight: 500;
  line-height: 73px;
  color: #fff;
  margin-bottom: 23px;
}

.banner-section .content-box .text{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 60px;
}

.banner-section .content-box .btn-box a{
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  text-align: center;
  padding: 13px 50px;
  z-index: 1;
}

.banner-section .content-box .btn-box a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  z-index: -1;
}

.banner-section .content-box .btn-box a:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.banner-section .content-box .btn-box a:hover{
  color: #4527a4;
}


.banner-section .image-box{
  position: relative;
  margin-right: -270px;
  z-index: 1;
}

.banner-section .image-box .image-1{
  position: absolute;
  left: 0px;
  top: -30px;
}

.banner-section .image-box .image-2{
  position: absolute;
  right: 0px;
  top: -60px;
}

.float-bob-y {
  animation-name: float-bob-y;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-y;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-y;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-y;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.float-bob-x{
  animation-name: float-bob-x;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-x;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-x;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-x;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-x;
  -o-animation-duration: 15s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}



/** main-footer **/

.main-footer{
  position: relative;
  padding-top: 150px;
}

.main-footer .image-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer .footer-top{
  position: relative;
  padding: 105px 0px 100px 0px;
  border-bottom: 1px solid #dddddd;
}

.main-footer .footer-top .footer-logo{
  margin-bottom: 32px;
}

.main-footer .footer-top .about-widget{
  position: relative;
  margin-right: 60px;
  margin-top: -8px;
}

.main-footer .footer-top .about-widget .text{
  position: relative;
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 27px;
}

.main-footer .footer-top .about-widget .social-links h6{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #4527a4;
}

.main-footer .footer-top .about-widget .social-links li{
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.main-footer .footer-top .about-widget .social-links li:last-child{
  margin-right: 0px;
}

.main-footer .footer-top .about-widget .social-links li:first-child{
  margin-right: 30px;
}

.main-footer .footer-top .about-widget .social-links li a{
  font-size: 16px;
  color: #777;
}

.main-footer .footer-top .about-widget .social-links li a:hover{
  color: #4527a4;
}

.main-footer .footer-top .widget-title{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #222;
  padding-bottom: 9px;
  margin-bottom: 39px;
}

.main-footer .footer-top .widget-title:before{
  position: absolute;
  content: '';
  background: #4527a4;
  width: 45px;
  height: 2px;
  left: 0px;
  bottom: 0px;
  -webkit-mask-image: linear-gradient(-75deg, rgba(244,55,55,0.6) 50%, #f43737 50%, rgba(0,0,0,1) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.main-footer .footer-top .widget-title:after{
  position: absolute;
  content: '';
  background: #f2f0f9;
  width: 3px;
  height: 2px;
  left: 36px;
  bottom: 0px;
}

.main-footer .footer-top .links-widget .list li{
  position: relative;
  display: block;
  margin-bottom: 11px;
  padding-left: 18px;
}

.main-footer .footer-top .links-widget .list li:last-child{
  margin-bottom: 0px;
}

.main-footer .footer-top .links-widget .list li a{
  display: inline-block;
  font-size: 16px;
  color: #777;
}

.main-footer .footer-top .links-widget .list li a:before{
  position: absolute;
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  color: #777;
  font-weight: 700;
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
}

.main-footer .footer-top .links-widget .list li a:hover,
.main-footer .footer-top .links-widget .list li a:hover:before,
.main-footer .footer-top .contact-widget .list li a:hover{
  color: #4527a4;
}

.main-footer .footer-top .contact-widget .list li{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 42px;
  color: #777;
  padding-left: 35px;
}

.main-footer .footer-top .contact-widget .list li:first-child{
  margin-bottom: 42px;
}

.main-footer .footer-top .contact-widget .list li a{
  color: #777;
}

.main-footer .footer-top .contact-widget .list li i{
  position: absolute;
  left: 0px;
  top: 13px;
  color: #4527a4;
}

.main-footer .footer-top .contact-widget .widget-title{
  margin-bottom: 33px;
}

.main-footer .footer-bottom{
  position: relative;
  padding: 14px 0px;
  text-align: center;
}

.main-footer .footer-bottom .copyright{
  font-size: 16px;
  color: #4527a4;
}

.main-footer .footer-bottom .copyright a{
  color: #4527a4;
}

.main-footer .footer-bottom .copyright a:hover{
  text-decoration: underline;
}


/** sidebar **/

.main-header .nav-box{
  position:absolute;
  left: 33px;
  top: 10px;
  width:20px;
  color:#ffffff;
  font-size:28px;
  padding:24px 0px 23px;
  -webkit-transition:all 600ms ease;
  -moz-transition:all 600ms ease;
  -ms-transition:all 600ms ease;
  -o-transition:all 600ms ease;
  transition:all 600ms ease;
}

.main-header .nav-box:before{
  position: absolute;
  content: '';
  background: #4527a4;
  width: 260px;
  height: 260px;
  left: -160px;
  top: -135px;
  box-shadow: 0 0 0px 45px rgba(104, 157, 235, 0.4);
  border-radius: 50%;
}

.main-header .nav-box .nav-btn{
  position:relative;
  cursor: pointer;
}

.main-header .nav-btn .icon{
  position:relative;
  height:3px;
  width:20px;
  float:right;
  display:inline-block;
  margin-bottom:7px;
  background-color:#fff;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.xs-sidebar-group .xs-overlay{
  left:0%;
  top:0;
  position:fixed;
  height:100%;
  opacity:0;
  width:100%;
  visibility:hidden;
  -webkit-transition:all .4s ease-in .8s;
  -o-transition:all .4s ease-in .8s;
  transition:all .4s ease-in .8s;
  cursor:url(../images/icons/cross-out.png),
  pointer; 
  z-index: 999999;
}

.xs-sidebar-group.isActive .xs-overlay{
  opacity:.9;
  visibility:visible;
  -webkit-transition:all .8s ease-out 0s;
  -o-transition:all .8s ease-out 0s;
  transition:all .8s ease-out 0s;
  right:100%;
}

.xs-sidebar-group .widget-heading{
  position:absolute;
  top:0;
  right:0;
  padding:25px;
}

.xs-sidebar-widget{
  position:fixed;
  left:-100%;
  top:0;
  bottom:0;
  width:100%;
  max-width:360px;
  z-index:999999;
  overflow:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  background-color:#ffffff;
  -webkit-transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  -o-transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  transition:all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  visibility:hidden;
  opacity:0;
}

.xs-sidebar-group.isActive .xs-sidebar-widget{
  opacity:1;
  visibility:visible;
  left:0;
  -webkit-transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  -o-transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  transition:all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}

.sidebar-textwidget{
  padding:40px;
}

.close-side-widget{
  color:#1768dd;
  display:block;
}

.sidebar-widget-container{
  position:relative;
  top:150px;
  opacity:0;
  visibility:hidden;
  -webkit-transition:all .3s ease-in .3s;
  -o-transition:all .3s ease-in .3s;
  transition:all .3s ease-in .3s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

.xs-sidebar-group.isActive .sidebar-widget-container{
  top:0px;
  opacity:1;
  visibility:visible;
  -webkit-transition:all 1s ease-out 1.2s;
  -o-transition:all 1s ease-out 1.2s;
  transition:all 1s ease-out 1.2s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

.xs-overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity:.5;
  z-index:0;
}

.xs-bg-black{
  background-color:#000000;
}

.xs-menu-tools>li{
  display:inline-block;
  margin-right:15px;
}

.xs-menu-tools>li:last-child{
  margin-right:0;
}

.xs-menu-tools>li>a{
  color:#000000;
  text-decoration:none;
}

.sidebar-info-contents{
  position:relative;
}

.close-side-widget{
  position:relative;
  color:#4527a4;
  font-size:24px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.close-side-widget:hover{
  color:#222;
}

.sidebar-info-contents .content-inner{
  position:relative;
}

.sidebar-info-contents .content-inner .logo {
  padding:0px 0px 40px;
}

.sidebar-info-contents .content-inner .logo img{
  display:inline-block;
  max-width:100%; 
}

.sidebar-info-contents .content-inner .content-box{
  position:relative;
}

.sidebar-info-contents .content-inner .content-box h4{
  position:relative;
  font-size:20px;
  color:#222;
  font-weight:700;
  margin-bottom:20px;
}

.sidebar-info-contents .content-inner .content-box .text{
  position:relative;
  font-size:15px;
  color: #777;
  margin-bottom:25px;
}

.sidebar-info-contents .content-inner .content-box .theme-btn-two{
  padding: 10px 50px;
}

.sidebar-info-contents .content-inner .contact-info{
  position:relative;
  margin-top:60px;
}

.sidebar-info-contents .content-inner .contact-info ul li{
  position:relative;
  display: block;
  font-size:15px;
  color: #777;
  margin-bottom:3px;
}

.sidebar-info-contents .content-inner .contact-info ul li a{
  color: #777;
}

.sidebar-info-contents .content-inner .contact-info ul li a:hover{
  color: #4527a4;
}

.sidebar-info-contents .content-inner .contact-info h4{
  position:relative;
  font-size:20px;
  color:#222;
  font-weight:700;
  margin-bottom:20px;
}

.sidebar-info-contents .content-inner .social-box{
  position:relative;
  margin-top:20px;
  margin-bottom:30px;
}

.sidebar-info-contents .content-inner .social-box li{
  position:relative;
  display:inline-block;
  margin-right:6px;
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}

.sidebar-info-contents .content-inner .social-box li a{
  position:relative;
  width:36px;
  height:36px;
  color:#222222;
  z-index:1;
  font-size:13px;
  line-height:36px;
  text-align:center;
  border-radius:50%;
  display:inline-block;
  background: transparent;
  border: 1px solid #ededed;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.sidebar-info-contents .content-inner .social-box li a:hover{
  background: #4527a4;
  border-color: #4527a4;
  color: #fff;
}




/*** 

====================================================================
                        Home-Page-14
====================================================================

***/

.main-header .menu-area .btn-box{
  position: relative;
  float: left;
  margin: 65px 0px 0px 70px;
}

.main-header .menu-area .btn-box a{
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  color: #4527a4;
  line-height: 30px;
  background: #fff;
  padding: 5px 30px;
  text-align: center;
  border-radius: 30px;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.main-header .menu-area .btn-box a:before{
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -50px;
  z-index: -1;
  border-bottom: 50px solid #4527a4;
  border-right: 50px solid transparent;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.main-header .menu-area .btn-box a:after{
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -50px;
  z-index: -1;
  border-left: 40px solid transparent;
  border-bottom: 50px solid #4527a4;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.main-header .menu-area .btn-box a:hover::before {
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
}

.main-header .menu-area .btn-box a:hover::after {
  -webkit-transform: translateX(40%);
  transform: translateX(40%);
}

.main-header .menu-area .btn-box a:hover{
  background: #4527a4;
  color: #fff;
}


/** header-style-two **/

.main-header.style-two{
  position: relative;
}

.main-header.style-two .outer-container{
  top: 50px;
}

.main-header.style-two .outer-container .main-box{
  position: relative;
  background: #4527a4;
  padding: 0px 30px;
  border-radius: 50px;
}

.main-header.style-two .outer-container .main-box:before{
  position: absolute;
  content: '';
  background: #fff;
  width: calc(100% - 220px);
  height: 100%;
  left: 110px;
  top: 22px;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 50px;
}

.main-header.style-two .outer-container .logo-box .logo{
  padding: 25px 0px 24px 0px;
}

.main-header.style-two .main-menu .navigation > li{
  position: relative;
  padding: 34px 0px 36px 0px;
  margin: 0px 25px;
}

.main-header.style-two .main-menu .navigation > li:before{
  position: absolute;
  content: '';
  background: #3ecbff;
  width: 0%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  transition: all 500ms ease;
}

.main-header.style-two .main-menu .navigation > li.current:before,
.main-header.style-two .main-menu .navigation > li:hover:before{
  width: 100%;
}

.main-header.style-two .menu-area .btn-box {
  margin-top: 25px;
}

.main-header.style-two .menu-area .btn-box a{
  padding: 10px 38px;
  font-weight: 500;
  font-size: 16px;
}

/** banner-style-14 **/

.banner-style-14{
  padding: 280px 0px 100px 0px;
}

.banner-style-14 .content-box h2{
  position: relative;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  color: #222;
  margin-bottom: 27px;
}

.banner-style-14 .content-box .text{
  position: relative;
  font-size: 16px;
  margin-bottom: 33px;
}

.banner-style-14 .content-box .mail-box{
  margin-bottom: 70px;
}

.banner-style-14 .content-box .mail-box .form-group {
  position: relative;
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}

.banner-style-14 .content-box .mail-box .form-group input[type='text'] {
  position: relative;
  width: 100%;
  height: 60px;
  border: 1px solid #4527a4;
  border-radius: 30px;
  font-size: 14px;
  color: #777;
  padding: 10px 200px 10px 30px;
}

.banner-style-14 .content-box .mail-box .form-group button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 170px;
  height: 60px;
  background: #4527a4;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  transition: all 500ms ease;
}

.banner-style-14 .content-box .image-box{
  position: relative;
}

.banner-style-14 .content-box .image-box .image-1{
  position: relative;
  margin: 0px -15px;
}

.banner-style-14 .content-box .image-box .image-2{
  position: absolute;
  left: -150px;
  top: 20px;
}

.banner-style-14 .content-box .image-box .image-3{
  position: absolute;
  right: -150px;
  top: 30px;
}

.banner-style-14 .content-box .image-box img{
  width: 100%;
}

.clients-section .trusted-box{
  position: relative;
  display: inline-block;
  margin-top: 80px;
  font-size: 16px;
  background: #ebebeb;
  color: #2e2e2e;
  padding: 15px 60px;
  border-radius: 30px;
}




/** footer-style-five **/

.main-footer.style-five{
  position: relative;
}

.main-footer.style-five .about-widget .text{
  color: #fff;
  margin-bottom: 21px;
}

.main-footer.style-five .about-widget .phone{
  position: relative;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
}

.main-footer.style-five .about-widget .phone a{
  color: #fff;
}

.main-footer.style-five .about-widget .phone a:hover{
  text-decoration: underline;
}

.main-footer.style-five .about-widget .phone i{
  margin-right: 20px;
}

.main-footer.style-five .footer-top .footer-logo{
  margin-bottom: 17px;
}

.main-footer.style-five .footer-top .about-widget{
  margin-right: 25px;
}

.main-footer.style-five .footer-top .widget-title{
  color: #fff;
  font-size: 22px;
  margin-bottom: 25px;
}

.main-footer.style-five .footer-top .widget-title:before,
.main-footer.style-five .footer-top .widget-title:after{
  display: none;
}

.main-footer.style-five .footer-top .links-widget .list li{
  padding: 0px;
  margin-bottom: 5px;
}

.main-footer.style-five .footer-top .links-widget .list li a{
  color: #fff;
}

.main-footer.style-five .footer-top .links-widget .list li a:hover{
  text-decoration: underline;
}

.main-footer.style-five .footer-top .links-widget .list li a:before{
  display: none;
}

.main-footer.style-five .footer-top .contact-widget .contact-info li{
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
  margin-bottom: 6px;
}

.main-footer.style-five .footer-top .contact-widget .contact-info li:last-child{
  margin-bottom: 0px;
}

.main-footer.style-five .footer-top .contact-widget .contact-info li a{
  display: inline-block;
  color: #fff;
}

.main-footer.style-five .footer-top .contact-widget .contact-info li a:hover{
  text-decoration: underline;
}

.main-footer.style-five .footer-top .contact-widget .contact-info li i{
  margin-right: 20px;
}

.main-footer.style-five .footer-top .contact-widget .contact-info{
  position: relative;
  margin-bottom: 18px;
}

.main-footer.style-five .footer-top .contact-widget .social-links li{
  position: relative;
  float: left;
  margin-right: 10px;
}

.main-footer.style-five .footer-top .contact-widget .social-links li:last-child{
  margin-right: 0px;
}

.main-footer.style-five .footer-top .contact-widget .social-links li a{
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.main-footer.style-five .footer-top .contact-widget .social-links li a:hover{
  background: #fff;
  color: #4527a4;
}

.main-footer.style-five .footer-top{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-top: 70px;
}

.main-footer.style-five .footer-bottom .copyright,
.main-footer.style-five .footer-bottom .copyright a{
  color: #fff;
}

.main-footer.style-five .footer-bottom .copyright a:hover{
  text-decoration: underline;
}

.main-footer.style-five .footer-bottom .footer-nav li{
  position: relative;
  display: inline-block;
  padding-right: 40px;
  margin-right: 35px;
}

.main-footer.style-five .footer-bottom .footer-nav li:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 1px;
  height: 16px;
  top: 8px;
  right: 0px;
}

.main-footer.style-five .footer-bottom .footer-nav li:last-child:before{
  display: none;
}

.main-footer.style-five .footer-bottom .footer-nav li:last-child{
  padding: 0px;
  margin: 0px;
}

.main-footer.style-five .footer-bottom .footer-nav li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.main-footer.style-five .footer-bottom .footer-nav li a:hover{
  text-decoration: underline;
}

.main-footer.style-five .footer-bottom{
  padding: 19px 0px;
}

.main-footer.style-five .anim-icons .icon-1 {
  left: 0px;
  bottom: 150px;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
  z-index: 1;
}



 
/** banner-style-18 **/

.banner-style-18{
  position: relative;
  padding: 215px 0px 345px 0px;
  background: linear-gradient(90deg, #0f0946 0%, #42269e 50%, #0f0946 100%);
}

.banner-style-18 .content-box{
  position: relative;
  max-width: 450px;
  width: 100%;
  margin-top: 108px;
}

.banner-style-18 .content-box h1{
  position: relative;
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 35px;
}

.banner-style-18 .content-box .text{
  position: relative;
  font-size: 16px;
  color: #fff;
  margin-bottom: 65px;
}

.banner-style-18 .content-box .btn-box a{
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  color: #222;
  line-height: 30px;
  background: #fff;
  padding: 15px 50px;
  text-align: center;
  border-radius: 30px;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.banner-style-18 .content-box .btn-box a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #4527a4;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  z-index: -1;
}

.banner-style-18 .content-box .btn-box a:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.banner-style-18 .content-box .btn-box a:hover{
  background: #4527a4;
  color: #fff;
}

.banner-style-18 .image-box img{
  width: 100%;
}

.banner-style-18 .anim-icons .icon-1 {
  left: 120px;
  top: 180px;
  -webkit-animation: zoom-fade 2s infinite linear;
  animation: zoom-fade 2s infinite linear;
}

.banner-style-18 .anim-icons .icon-2 {
  left: 65px;
  bottom: 300px;
}

.banner-style-18 .anim-icons .icon-3 {
  left: 420px;
  top: 220px;
}

/** our-history **/

.our-history{
  position: relative;
  padding: 150px 0px 120px 0px;
}

#content_block_53 .content-box .text p{
  font-size: 16px;
  margin-bottom: 30px;
}

#content_block_53 .content-box .text p:last-child{
  margin-bottom: 0px;
}

#content_block_53 .content-box .text{
  position: relative;
  margin-bottom: 61px;
}

#content_block_53 .content-box h5{
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fc0000;
  margin-bottom: 28px;
}

#content_block_53 .content-box .sec-title h2{
  margin-bottom: 51px;
}

.our-history .image-box{
  margin-right: -93px;
  margin-top: 84px;
}

#image_block_47 .image-box{
  position: relative;
}

#image_block_47 .image-box img{
  width: 100%;
}

.clients-style-four.style-five {
  padding: 155px 0px 40px 0px;
}



/** domain-section **/

.domain-section{
  position: relative;
}

.domain-section .inner-container{
  position: relative;
  background: #fff;
  padding: 95px 100px;
  margin-top: -275px;
  border-radius: 30px;
  box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.domain-section .sec-title h2{
  margin-bottom: 78px;
}

.domain-section .search-form .form-group{
  position: relative;
  margin-bottom: 51px;
}

.domain-section .search-form .form-group input[type='text']{
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  border: 3px solid #fff;
  padding: 15px 230px 15px 30px;
  border-radius: 15px;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
}

.domain-section .search-form .form-group input:focus{
  border-color: #4527a4;
}

.domain-section .search-form .form-group button{
  position: absolute;
  top: 10px;
  overflow: hidden;
  right: 10px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #4527a4;
  text-align: center;
  padding: 25px 45px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 1;
  transition: all 500ms ease;
}

.domain-section .search-form .form-group button:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #222;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  z-index: -1;
}

.domain-section .search-form .form-group button:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.domain-section .search-form .form-group button:hover{
  background: #222;
}

.domain-section .domain-name{
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.domain-section .domain-name li{
  position: relative;
  float: left;
  text-align: center;
  width: 20%;
}

.domain-section .domain-name li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #777;
}

.domain-section .domain-name li a span{
  font-size: 24px;
  font-weight: 700;
  color: #222;
}

.domain-section .domain-name li:first-child a span{
  color: #4527a4;
}

.domain-section .domain-name li:nth-child(2) a span{
  color: #ffb600;
}

.domain-section .domain-name li:nth-child(4) a span{
  color: #ff0000;
}

.domain-section .domain-name li:last-child a span{
  color: #54fe00;
}



/*** 

====================================================================
                        Blog-Page
====================================================================

***/


.sidebar-page-container{
  position: relative;
  padding: 150px 0px 120px 0px;
}

.sidebar-page-container .blog-content .single-blog-content .inner-box{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}

.sidebar-page-container .blog-content .single-blog-content .image-box{
  position: relative;
  overflow: hidden;
  background: #4527a4;
}

.sidebar-page-container .blog-content .single-blog-content .image-box img{
  width: 100%;
  transition: all 500ms ease;
}

.sidebar-page-container .blog-content .single-blog-content:hover .image-box img{
  opacity: 0.5;
  transform: scale(1.05);
}

.sidebar-page-container .blog-content .single-blog-content .lower-content{
  position: relative;
  padding: 41px 40px 0px 40px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box{
  position: relative;
  padding-bottom: 33px;
  border-bottom: 1px solid #d6d6d6;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box .post-date{
  position: relative;
  font-size: 16px;
  color: #777;
  margin-bottom: 18px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box .post-date i{
  margin-right: 10px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #222;
  margin-bottom: 27px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box h3 a{
  display: inline-block;
  color: #222;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box h3 a:hover{
  color: #4527a4;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .upper-box .text{
  position: relative;
  font-size: 16px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box{
  position: relative;
  padding: 20px 0px 40px 0px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .left-content{
  position: relative;
  padding: 9px 0px 11px 65px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .left-content .admin-image{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .left-content .admin-image img{
  width: 100%;
  border-radius: 50%;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .left-content .admin-name{
  position: relative;
  font-size: 14px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li{
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li:last-child{
  margin-right: 0px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #777;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li a:hover{
  color: #4527a4;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li.share .social-links {
  position: absolute;
  right: 0%;
  bottom: -30px;
  width: 105px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 500ms ease;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li.share:hover .social-links {
  opacity: 1;
  right: 0%;
  visibility: visible;
  transform: translateY(0px);
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li.share .social-links a{
  font-size: 14px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li.share .social-links li{
  margin-right: 15px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content li.share .social-links li:last-child{
  margin-right: 0px;
}

.sidebar-page-container .blog-content .single-blog-content .lower-content .lower-box .right-content{
  margin-top: 11px;
}

.sidebar-page-container .blog-content .pagination-wrapper{
  position: relative;
  display: block;
  padding-top: 10px;
}

.sidebar-page-container .sidebar .sidebar-search .form-group{
  position: relative;
  margin-bottom: 0px;
}

.sidebar-page-container .sidebar .sidebar-search .form-group input[type='search']{
  position: relative;
  width: 100%;
  height: 60px;
  background: #fff;
  font-size: 14px;
  padding: 10px 50px 10px 30px;
  border-radius: 30px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-page-container .sidebar .sidebar-search .form-group button{
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #4527a4;
  background: transparent;
  cursor: pointer;
  transition: all 500ms ease;
}

.sidebar-page-container .sidebar .sidebar-title{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #222;
  margin-bottom: 19px;
}

.sidebar-page-container .sidebar .sidebar-search{
  position: relative;
  margin-bottom: 73px;
}

.sidebar-page-container .sidebar .sidebar-categories ul li{
  position: relative;
  display: block;
}

.sidebar-page-container .sidebar .sidebar-categories ul li a{
  position: relative;
  display: block;
  font-size: 16px;
  color: #777;
  padding: 20px 30px 22px 30px;
  border-bottom: 1px solid #dddddd;
}

.sidebar-page-container .sidebar .sidebar-categories ul li:last-child a{
  border-bottom: none;
}

.sidebar-page-container .sidebar .sidebar-categories ul li a span{
  float: right;
}

.sidebar-page-container .sidebar .sidebar-categories ul li a:hover{
  color: #4527a4;
}

.sidebar-page-container .sidebar .sidebar-categories{
  position: relative;
  margin-bottom: 41px;
}

.sidebar-page-container .sidebar .sidebar-post .post{
  position: relative;
  padding: 0px 0px 0px 100px;
  margin-bottom: 13px;
  padding-bottom: 18px;
  min-height: 110px;
  border-bottom: 1px solid #dddddd;
}

.sidebar-page-container .sidebar .sidebar-post .post:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post .image{
  position: absolute;
  left: 0px;
  top: 8px;
  width: 80px;
  height: 80px;
  background: #4527a4;
  border-radius: 10px;
}

.sidebar-page-container .sidebar .sidebar-post .post .image img{
  width: 100%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.sidebar-page-container .sidebar .sidebar-post .post:hover .image img{
  opacity: 0.5;
}

.sidebar-page-container .sidebar .sidebar-post .post h5{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #222;
  margin-bottom: 2px;
}

.sidebar-page-container .sidebar .sidebar-post .post h5 a{
  display: inline-block;
  color: #222;
}

.sidebar-page-container .sidebar .sidebar-post .post h5 a:hover{
  color: #4527a4;
}

.sidebar-page-container .sidebar .sidebar-post .post .post-date{
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.sidebar-page-container .sidebar .sidebar-post .sidebar-title{
  margin-bottom: 45px;
}

.sidebar-page-container .sidebar .sidebar-post{
  position: relative;
  margin-bottom: 50px;
}

.sidebar-page-container .sidebar .sidebar-tags .widget-content .tag-list{
  position: relative;
  margin: 0px -5px;
}

.sidebar-page-container .sidebar .sidebar-tags .widget-content ul li{
  position: relative;
  float: left;
  margin: 0px 5px 20px 5px;
}


.sidebar-page-container .sidebar .sidebar-tags .widget-content ul li a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  border: 2px solid #ebebeb;
  border-radius: 30px;
  text-align: center;
  padding: 8px 29px;
}

.sidebar-page-container .sidebar .sidebar-tags .widget-content ul li a:hover{
  color: #fff;
  border-color: #4527a4;
  background: #4527a4;
}

.sidebar-page-container .sidebar .sidebar-tags .sidebar-title{
  margin-bottom: 49px;
}

.sidebar-page-container .sidebar .sidebar-tags{
  position: relative;
  margin-bottom: 43px;
}

.sidebar-page-container .sidebar .sidebar-instagram .image-list{
  position: relative;
  margin: 0px -10px;
}

.sidebar-page-container .sidebar .sidebar-instagram .image-list .image{
  position: relative;
  float: left;
  width: 110px;
  height: 100px;
  border-radius: 5px;
  background: #4527a4;
  margin: 0px 10px 20px 10px;
}

.sidebar-page-container .sidebar .sidebar-instagram .image-list .image img{
  width: 100%;
  border-radius: 5px;
  transition: all 500ms ease;
}

.sidebar-page-container .sidebar .sidebar-instagram .image-list .image:hover img{
  opacity: 0.5;
}

.sidebar-page-container .sidebar .sidebar-instagram .sidebar-title{
  margin-bottom: 38px;
}


/** blog-details **/

.sidebar-page-container .blog-single-content .image-box img{
  width: 100%;
}

.sidebar-page-container .blog-single-content .post-details{
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}

.sidebar-page-container .blog-single-content .inner-box{
  position: relative;
  padding: 41px 40px 0px 40px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box .post-date {
  position: relative;
  font-size: 16px;
  color: #777;
  margin-bottom: 18px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box .post-date i {
  margin-right: 10px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  color: #222;
  font-weight: 500;
  margin-bottom: 27px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box .text{
  position: relative;
  font-size: 16px;
  margin-bottom: 54px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box blockquote{
  position: relative;
  display: block;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 43px;
  padding: 29px 0px 31px 50px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box blockquote:before{
  position: absolute;
  content: '';
  background: #4527a4;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  z-index: -1;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box blockquote:after{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: 100%;
  left: 5px;
  top: 0px;
  border-radius: 20px;
  z-index: -1;
}

.sidebar-page-container .blog-single-content .inner-box .two-column .image-box{
  margin-right: -16px;
}

.sidebar-page-container .blog-single-content .inner-box .two-column .image-box img{
  width: 100%;
}

.sidebar-page-container .blog-single-content .inner-box .two-column .text{
  margin-left: 30px;
}

.sidebar-page-container .blog-single-content .inner-box .two-column .text p{
  font-size: 16px;
  margin-bottom: 30px;
}

.sidebar-page-container .blog-single-content .inner-box .two-column .text p:last-child{
  margin-bottom: 0px;
}

.sidebar-page-container .blog-single-content .inner-box .two-column .text{
  margin: 7px 0px 0px 30px;
}

.sidebar-page-container .blog-single-content .inner-box .upper-box{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 39px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box{
  position: relative;
  padding: 20px 0px 40px 0px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .left-content {
  position: relative;
  padding: 9px 0px 11px 65px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .left-content .admin-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .left-content .admin-image img {
  width: 100%;
  border-radius: 50%;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .left-content .admin-name {
  position: relative;
  font-size: 14px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content {
  margin-top: 11px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li a{
  color: #777;
  z-index: 1;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li:last-child{
  margin-right: 0px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li a:hover{
  color: #4527a4;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li.share .social-links {
  position: absolute;
  right: 0%;
  bottom: -30px;
  width: 105px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 500ms ease;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li.share:hover .social-links {
  opacity: 1;
  right: 0%;
  transform: translateY(0px);
  visibility: visible;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li.share .social-links a{
  font-size: 14px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li.share .social-links li{
  margin-right: 15px;
}

.sidebar-page-container .blog-single-content .inner-box .lower-box .right-content li.share .social-links li:last-child{
  margin-right: 0px;
}

.sidebar-page-container .blog-single-content .author-box{
  position: relative;
  background: #4527a4;
  padding: 35px 40px;
  border-radius: 20px;
  margin-bottom: 67px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner{
  position: relative;
  padding: 14px 175px 7px 0px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .author-thumb{
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 10px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .author-thumb img{
  width: 100%;
  border-radius: 10px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner{
  position: relative;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 19px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner .text{
  position: relative;
  font-size: 16px;
  color: #fff;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner .social-links{
  position: absolute;
  top: 4px;
  right: 0px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner .social-links li{
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner .social-links li:last-child{
  margin-right: 0px;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.sidebar-page-container .blog-single-content .author-box .author-inner .inner .social-links li a:hover{
  background: #fff;
  color: #4527a4;
}

.sidebar-page-container .blog-single-content .comments-area .comment{
  position: relative;
  padding: 0px 100px;
}

.sidebar-page-container .blog-single-content .comments-area .comment .author-thumb{
  position: absolute;
  left: 0px;
  top: -9px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-page-container .blog-single-content .comments-area .comment .author-thumb img{
  width: 100%;
  border-radius: 50%;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-info .name{
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-info .date{
  position: relative;
  font-size: 14px;
  color: #bbbbbb;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-info{
  position: relative;
  margin-bottom: 13px;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-inner .text{
  position: relative;
  font-size: 14px;
  line-height: 28px;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-inner{
  position: relative;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-inner .replay-btn{
  position: absolute;
  top: -4px;
  right: -15px;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-inner .replay-btn a{
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #4527a4;
  z-index: 1;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-inner .replay-btn a:hover{
  text-decoration: underline;
}

.sidebar-page-container .blog-single-content .comments-area .comment .comment-inner .replay-btn a:hover{
  color: #4527a4;
}

.sidebar-page-container .blog-single-content .comments-area .sec-title h2,
.sidebar-page-container .blog-single-content .comments-form-area .sec-title h2{
  font-size: 30px;
  margin-bottom: 68px;
}

.sidebar-page-container .blog-single-content .comments-area .comment{
  position: relative;
  margin-bottom: 67px;
}

.sidebar-page-container .blog-single-content .comments-area .comment.replay-comment{
  margin-left: 100px;
}

.sidebar-page-container .blog-single-content .comments-area .comment:last-child{
  margin-bottom: 0px;
}

.sidebar-page-container .blog-single-content .comments-area{
  position: relative;
  margin-bottom: 58px;
}

.sidebar-page-container .blog-single-content .comments-form-area .form-group{
  position: relative;
  margin-bottom: 20px;
}

.sidebar-page-container .blog-single-content .comments-form-area .form-group:last-child{
  margin-bottom: 0px;
  padding-top: 10px;
}

.sidebar-page-container .blog-single-content .comments-form-area .form-group input[type='text'], 
.sidebar-page-container .blog-single-content .comments-form-area .form-group input[type='email'], 
.sidebar-page-container .blog-single-content .comments-form-area .form-group textarea {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 13px;
  color: #777;
  background: #fff;
  transition: all 500ms ease;
}

.sidebar-page-container .blog-single-content .comments-form-area .form-group textarea{
  height: 120px;
  resize: none;
  border-radius: 15px;
  display: block;
}

.sidebar-page-container .blog-single-content .comments-form-area .form-group input:focus,
.sidebar-page-container .blog-single-content .comments-form-area .form-group textarea:focus{
  border-color: #4527a4;
}

.sidebar-page-container .blog-single-content .comments-form-area .form-group .theme-btn-two{
  padding: 10px 44px;
}


/*** 

====================================================================
                        Contact-Page
====================================================================

***/


.contact-section{
  position: relative;
  padding: 160px 0px 100px 0px;
}

.contact-section .info-content .single-info-box{
  position: relative;
  padding: 0px 30px;
}

.contact-section .info-content .single-info-box .icon-box{
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

.contact-section .info-content .single-info-box .icon-box img{
  position: relative;
  width: auto;
  transition: all 500ms ease;
}

.contact-section .info-content .single-info-box:hover .icon-box img{
  transform: scale(1.05);
}

.contact-section .info-content .single-info-box h2{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 40px;
  color: #222;
  font-weight: 500;
  margin: 18px;
}

.contact-section .info-content .single-info-box .text{
  position: relative;
  font-size: 16px;
  margin-bottom: 14px;
}

.contact-section .info-content .single-info-box a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #4527a4;
}

.contact-section .info-content .single-info-box a:hover{
  text-decoration: underline;
}

.contact-section .info-content,
.contact-section .image-container{
  position: relative;
  margin-bottom: 110px;
}

.contact-section .contact-form-area .form-inner .form-group{
  position: relative;
  margin-bottom: 30px;
}

.contact-section .contact-form-area .form-inner .form-group i{
  position: absolute;
  top: 23px;
  right: 30px;
  font-size: 15px;
  font-weight: 700;
  color: #777;
  z-index: 1;
}

.contact-section .contact-form-area .form-inner .form-group input[type='text'],
.contact-section .contact-form-area .form-inner .form-group select,
.contact-section .contact-form-area .form-inner .form-group input[type='email'],
.contact-section .contact-form-area .form-inner .form-group textarea{
  position: relative;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 10px 60px 10px 30px;
  font-size: 14px;
  font-weight: 500; 
  border-radius: 30px; 
  border: 3px solid #fff;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);  
  transition: all 500ms ease;                                                                             
}

.contact-section .contact-form-area .form-inner .form-group textarea{
  height: 200px;
  resize: none;
  border-radius: 20px;
}

.contact-section .contact-form-area .form-inner .form-group input:focus,
.contact-section .contact-form-area .form-inner .form-group textarea:focus{
  border-color: #4527a4;
}

.contact-section .contact-form-area .form-inner .message-btn{
  margin: 0px;
}

.contact-section .contact-form-area .form-inner .message-btn .theme-btn-two{
  padding: 13px 38px;
  font-weight: 400;
}

.contact-section .contact-form-area .sec-title h2{
  margin-bottom: 63px;
}

/** service-style-three **/

.service-style-three{
  position: relative;
  padding-top: 140px;
}

.service-style-three .image-layer{
  position: absolute;
  width: 345px;
  height: 880px;
  left: 0px;
  bottom: -220px;
  background-repeat: no-repeat;
}

.service-style-three .sec-title h2{
  line-height: 60px;
  margin-bottom: 135px;
}

.service-block-three{
  position: relative;
  margin-bottom: 140px;
}

.service-block-three .inner-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 0px 40px 55px 40px;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
}

.service-block-three:hover .inner-box{
  transform: translateY(-15px);
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.service-block-three .inner-box .icon-box{
  position: relative;
  display: inline-block;
  font-size: 60px;
  color: #fff;
  width: 170px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  margin-top: -75px;
  z-index: 1;
  margin-bottom: 32px;
}

.service-block-three .inner-box .icon-box .bg-layer{
  position: absolute;
  width: 170px;
  height: 160px;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.service-block-three:hover .inner-box .icon-box .bg-layer {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.service-style-three .inner-container{
  position: relative;
  margin: 0px -10px;
}

.service-style-three .single-column{
  padding: 0px 25px;
}

.service-block-three .inner-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #222;
  margin-bottom: 17px;
}

.service-block-three .inner-box h3 a{
  display: inline-block;
  color: #222;
}

.service-block-three .inner-box h3 a:hover{
  color: #4527a4;
}

.service-block-three .inner-box .text{
  position: relative;
  display: block;
  font-size: 16px;
  margin-bottom: 34px;
}

.service-block-three .inner-box .link-btn a{
  position: relative;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  color: #4527a4;
  font-weight: 700;
}

.service-block-three:hover .inner-box .link-btn a{
  color: #ff0101;
}

.service-style-three .single-column:nth-child(2){
  padding-top: 190px;
}

.service-style-three .single-column:last-child{
  padding-top: 90px;
}


/** banner-style-ten **/

.banner-style-ten{
  position: relative;
  background: #fff;
  padding: 295px 0px 90px 0px;
}

.banner-style-ten .image-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/** designe-process **/

.designe-process{
  position: relative;
  padding: 80px 0px 90px 0px;
}

.designe-process .sec-title h2{
  line-height: 60px;
  margin-bottom: 62px;
}

.designe-process .single-item{
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.designe-process .single-item .inner-box{
  position: relative;
  display: block;
  background: #fff;
  padding: 70px 30px 65px 30px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
}

.designe-process .single-item .inner-box .icon-box{
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 46px;
  z-index: 1;
}

.designe-process .single-item .inner-box .icon-box:before{
  position: absolute;
  content: '';
  background: #4527a4;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  transform: rotate(45deg);
  transition: all 500ms ease;
}

.designe-process .single-item:hover .inner-box .icon-box:before{
  transform: rotate(0deg);
}

.designe-process .single-item .inner-box .icon-box:after{
  position: absolute;
  content: '';
  border: 1px dashed #4527a4;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  z-index: -1;
}

.designe-process .single-column:nth-child(2) .single-item .inner-box .icon-box:before{
  background: #34c700;
}

.designe-process .single-column:nth-child(2) .single-item .inner-box .icon-box:after{
  border-color: #34c700;
}

.designe-process .single-column:nth-child(3) .single-item .inner-box .icon-box:before{
  background: #ff0000;
}

.designe-process .single-column:nth-child(3) .single-item .inner-box .icon-box:after{
  border-color: #ff0000;
}

.designe-process .single-column:nth-child(4) .single-item .inner-box .icon-box:before{
  background: #ff8500;
}

.designe-process .single-column:nth-child(4) .single-item .inner-box .icon-box:after{
  border-color: #ff8500;
}

.designe-process .single-column:nth-child(5) .single-item .inner-box .icon-box:before{
  background: #ff00ff;
}

.designe-process .single-column:nth-child(5) .single-item .inner-box .icon-box:after{
  border-color: #ff00ff;
}

.designe-process .single-column:last-child .single-item .inner-box .icon-box:before{
  background: #00aeef;
}

.designe-process .single-column:last-child .single-item .inner-box .icon-box:after{
  border-color: #00aeef;
}

.designe-process .single-item .inner-box .icon-box i{
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  border: 1px dotted #fff;
  font-weight: 700;
}

.designe-process .single-item .inner-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #222;
  margin-bottom: 19px;
}

.designe-process .single-item .inner-box h4 a{
  display: inline-block;
  color: #222;
}

.designe-process .single-item .inner-box h4 a:hover{
  color: #4527a4;
}

.designe-process .single-item .inner-box .text{
  position: relative;
  display: block;
  font-size: 16px;
}

.designe-process .single-item .inner-box .left-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  display: block;
}

.designe-process .single-item .inner-box .right-layer {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  display: block;
}

.designe-process .single-item .inner-box .left-layer:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 50%;
  height: 0%;
  display: block;
  background-color: #f4f4f4;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.designe-process .single-item .inner-box .left-layer:after {
  position: absolute;
  content: '';
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 0%;
  display: block;
  background-color: #f4f4f4;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.designe-process .single-item .inner-box .right-layer:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 50%;
  height: 0%;
  display: block;
  background-color: #f4f4f4;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.designe-process .single-item .inner-box .right-layer:after {
  position: absolute;
  content: '';
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 0%;
  display: block;
  background-color: #f4f4f4;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.designe-process .single-item:hover .inner-box .left-layer:before, 
.designe-process .single-item:hover .inner-box .left-layer:after {
  height: 100%;
}

.designe-process .single-item:hover .inner-box .right-layer:before, 
.designe-process .single-item:hover .inner-box .right-layer:after {
  height: 100%;
}

/** innovative-idea **/

.innovative-idea{
  position: relative;
  padding-bottom: 80px;
}

.innovative-idea .sec-title{
  margin-bottom: 55px;
}

.innovative-idea .single-item{
  position: relative;
  margin-bottom: 30px;
  display: block;
  background: #fff;
  padding: 33px 30px 48px 30px;
  border-radius: 25px;
  transition: all 500ms ease;
}

.innovative-idea .single-item:hover{
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.innovative-idea .single-item .inner-box{
  position: relative;
  padding-left: 200px;
  padding-top: 15px;
}

.innovative-idea .single-item .inner-box .icon-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  font-size: 60px;
  color: #fff;
  width: 170px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  z-index: 1;
  transition: all 500ms ease;
}

.innovative-idea .single-item .inner-box .icon-box .bg-layer{
  position: absolute;;
  width: 170px;
  height: 160px;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.innovative-idea .single-item:hover .inner-box .icon-box .bg-layer{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.innovative-idea .single-item .inner-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #222;
  margin-bottom: 12px;
}

.innovative-idea .single-item .inner-box h3 a{
  color: #222;
}

.innovative-idea .single-item .inner-box h3 a:hover{
  color: #4527a4;
}

.innovative-idea .single-item .inner-box .text{
  position: relative;
  display: block;
}


